<?php

declare(strict_types=1);

/*
 * ExcitesmsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace ExcitesmsLib\Controllers;

use ExcitesmsLib\Exceptions\ApiException;
use ExcitesmsLib\ApiHelper;
use ExcitesmsLib\ConfigurationInterface;
use ExcitesmsLib\Http\HttpRequest;
use ExcitesmsLib\Http\HttpResponse;
use ExcitesmsLib\Http\HttpMethod;
use ExcitesmsLib\Http\HttpContext;
use ExcitesmsLib\Http\HttpCallBack;
use Unirest\Request;

class MiscController extends BaseController
{
    public function __construct(ConfigurationInterface $config, array $authManagers, ?HttpCallBack $httpCallBack)
    {
        parent::__construct($config, $authManagers, $httpCallBack);
    }

    /**
     * Excite SMS SMS API allows you to send and receive SMS messages to and from any country in the world
     * through a REST API. Each message is identified by a unique random ID so that users can always check
     * the status of a message using the given endpoint.
     *
     * @param string $accept
     * @param \ExcitesmsLib\Models\SendSMSRequest $body
     *
     * @return \ExcitesmsLib\Models\SendSMS Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function sendSMS(string $accept, \ExcitesmsLib\Models\SendSMSRequest $body): \ExcitesmsLib\Models\SendSMS
    {
        //prepare query string for API call
        $_queryBuilder = '/sms/send';

        //validate and preprocess url
        $_queryUrl = ApiHelper::cleanUrl($this->config->getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = [
            'user-agent'    => BaseController::USER_AGENT,
            'content-type'  => 'application/json',
            'Accept'          => $accept
        ];

        //json encode body
        $_bodyJson = Request\Body::Json($body);

        $_httpRequest = new HttpRequest(HttpMethod::POST, $_headers, $_queryUrl);

        // Apply authorization to request
        $this->getAuthManager('global')->apply($_httpRequest);

        //call on-before Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        // Set request timeout
        Request::timeout($this->config->getTimeout());

        // and invoke the API call request to fetch the response
        try {
            $response = Request::post($_httpRequest->getQueryUrl(), $_httpRequest->getHeaders(), $_bodyJson);
        } catch (\Unirest\Exception $ex) {
            throw new ApiException($ex->getMessage(), $_httpRequest);
        }


        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpRequest);
        $mapper = $this->getJsonMapper();
        return $mapper->mapClass($response->body, 'ExcitesmsLib\\Models\\SendSMS');
    }

    /**
     * @param string $uid You can use Excite SMS's SMS API to retrieve information of an existing
     *        inbound or outbound SMS message.
     *
     *        You only need to supply the unique message id that was returned upon creation or
     *        receiving.
     *
     * @return \ExcitesmsLib\Models\ViewAnSMS Response from the API call
     *
     * @throws ApiException Thrown if API call fails
     */
    public function viewAnSMS(string $uid): \ExcitesmsLib\Models\ViewAnSMS
    {
        //prepare query string for API call
        $_queryBuilder = '/sms';

        //process optional query parameters
        ApiHelper::appendUrlWithQueryParameters($_queryBuilder, [
            'uid' => $uid,
        ]);

        //validate and preprocess url
        $_queryUrl = ApiHelper::cleanUrl($this->config->getBaseUri() . $_queryBuilder);

        //prepare headers
        $_headers = [
            'user-agent'    => BaseController::USER_AGENT,
            'Accept'        => 'application/json'
        ];

        $_httpRequest = new HttpRequest(HttpMethod::GET, $_headers, $_queryUrl);

        // Apply authorization to request
        $this->getAuthManager('global')->apply($_httpRequest);

        //call on-before Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnBeforeRequest($_httpRequest);
        }

        // Set request timeout
        Request::timeout($this->config->getTimeout());

        // and invoke the API call request to fetch the response
        try {
            $response = Request::get($_httpRequest->getQueryUrl(), $_httpRequest->getHeaders());
        } catch (\Unirest\Exception $ex) {
            throw new ApiException($ex->getMessage(), $_httpRequest);
        }


        $_httpResponse = new HttpResponse($response->code, $response->headers, $response->raw_body);
        $_httpContext = new HttpContext($_httpRequest, $_httpResponse);

        //call on-after Http callback
        if ($this->getHttpCallBack() != null) {
            $this->getHttpCallBack()->callOnAfterRequest($_httpContext);
        }

        //handle errors defined at the API level
        $this->validateResponse($_httpResponse, $_httpRequest);
        $mapper = $this->getJsonMapper();
        return $mapper->mapClass($response->body, 'ExcitesmsLib\\Models\\ViewAnSMS');
    }
}
